<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Portfolio - Erwan Osouf</title>
		<meta charset="UTF-8">
		<meta name="description" content="CV Erwan Osouf - Lead Developer Full Stack">
		<meta name="keywords" content="Erwan Osouf, Lead Developer, Java, JavaScript, Node.js, SQL">
		<meta name="author" content="Erwan Osouf">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<link rel="stylesheet" href="style/style.css">
		<link rel="stylesheet" href="style/print.css" media="print">
	</head>
	<body class="no-js loading">
		<!-- Hides the rest of the content while loading -->
		<div class="loading-spinner">
			<i class="fa fa-spinner fa-spin fa-4x"></i>
		</div>
		<!-- Actual content -->
		<div id="app">
			<presentation :who="me">
				
			</presentation>
			<section id="skills" lang="fr">
				<h2>Compétences</h2>
				<skill :skill="this"></skill>
			</section>
			<section id="hobbies" lang="fr">
				<h2>Centres d'interêt</h2>
				<hobby v-for="hobby in hobbies" :hobby="hobby" :key="hobby.name">
					<div v-html="hobby.description"></div>
				</hobby>
			</section>
			<section id="contacts" lang="fr">
				<h2>Contact</h2>
				<contact v-for="contact in contacts" :contact="contact" :key="contact.name"></contact>
			</section>
		</div>
	</body>
	<!-- SCRIPTS -->
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- production version, optimized for size and speed -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
	<script src="js/components/contact.js"></script>
	<script src="js/components/experience.js"></script>
	<script src="js/components/formation.js"></script>
	<script src="js/components/hobby.js"></script>
	<script src="js/components/presentation.js"></script>
	<script src="js/components/skill.js"></script>
	<script src="js/main.js"></script>
</html>
